<nav class="flex justify-between items-center px-8 py-6 bg-gray-900">
  <p class="font-semibold text-lg text-white">Express Server</p>
  <div>
    <button
      id="auth"
      type="button"
      class="border rounded-md px-2 py-1.5 cursor-pointer bg-orange-500 text-white"
    >
      Logout
    </button>
  </div>
</nav>
